In [1]:
from dysh.fits.gbtfitsload import GBTFITSLoad

In [27]:
sdf = GBTFITSLoad('testdata/TGBT21A_501_11/TGBT21A_501_11.raw.vegas.fits')

sdf = GBTFITSLoad('testdata/AGBT05B_047_01/AGBT05B_047_01.raw.acs')
sdf = GBTFITSLoad('testdata/TGBT21A_501_11/TGBT21A_501_11_scan_152_ifnum_0_plnum_0.fits')

In [42]:
sdf = GBTFITSLoad('testdata/AGBT05B_047_01/AGBT05B_047_01.raw.acs')

In [28]:
sdf.summary()

,SCAN,OBJECT,VELOCITY,PROC,PROCSEQN,RESTFREQ,DOPFREQ,# IF,# POL,# INT,# FEED,AZIMUTH,ELEVATIO
0,152,NGC2415,3784.0,OnOff,1,1.420406,1.420406,1,1,151,1,286.218008,41.62843

In [38]:
sdf.velocity_convention('OPTI-HEL') == 'optical'

True

In [39]:
sdf.velocity_frame('RADI-HEL') == 'heliocentric'

True

In [32]:
sdf.select('intnum'==[50:70])

SyntaxError: invalid syntax (1570717753.py, line 1)

In [30]:
len(sdf.index(bintable=0))

302

In [26]:
sdf.summary().shape

(8, 13)

In [5]:
sdf.index(bintable=0)

,OBJECT,BANDWID,DATE-OBS,DURATION,EXPOSURE,TSYS,TDIM7,TUNIT7,CTYPE1,CRVAL1,...,FDNUM,INT,NSAVE,HDU,BINTABLE,ROW,FITSINDEX,PROC,_OBSTYPE,_SUBOBSMODE
0,NGC2415,23437500.0,2021-02-10T07:38:37.50,0.998245,0.975875,17.458052,"(32768,1,1,1)",Counts,FREQ-OBS,1.402545e+09,...,0,0,-1,1,0,0,0.0,OnOff,PSWITCHON,TPWCAL
1,NGC2415,23437500.0,2021-02-10T07:38:37.50,0.998245,0.975875,17.458052,"(32768,1,1,1)",Counts,FREQ-OBS,1.402545e+09,...,0,0,-1,1,0,1,0.0,OnOff,PSWITCHON,TPWCAL
2,NGC2415,23437500.0,2021-02-10T07:43:51.50,0.998245,0.975875,17.240004,"(32768,1,1,1)",Counts,FREQ-OBS,1.402546e+09,...,0,0,-1,1,0,2,0.0,OnOff,PSWITCHOFF,TPWCAL
3,NGC2415,23437500.0,2021-02-10T07:43:51.50,0.998245,0.975875,17.240004,"(32768,1,1,1)",Counts,FREQ-OBS,1.402546e+09,...,0,0,-1,1,0,3,0.0,OnOff,PSWITCHOFF,TPWCAL

In [14]:
(sdf.summary(verbose=True)).shape == (4,17)

True

In [8]:
sdf.summary(verbose=True)

,SCAN,OBJECT,VELOCITY,PROC,PROCSEQN,PROCSIZE,RESTFREQ,DOPFREQ,IFNUM,FEED,AZIMUTH,ELEVATIO,FDNUM,PLNUM,SIG,CAL,DATE-OBS
0,152,NGC2415,3784.0,OnOff,1,2,1.420406,1.420406,0,1,285.951496,42.100624,0,0,T,T,2021-02-10T07:38:37.50
1,152,NGC2415,3784.0,OnOff,1,2,1.420406,1.420406,0,1,285.951496,42.100624,0,0,T,F,2021-02-10T07:38:37.50
2,153,NGC2415,3784.0,OnOff,2,2,1.420406,1.420406,0,1,286.622527,41.584692,0,0,T,T,2021-02-10T07:43:51.50
3,153,NGC2415,3784.0,OnOff,2,2,1.420406,1.420406,0,1,286.622527,41.584692,0,0,T,F,2021-02-10T07:43:51.50

In [12]:
type(sdf.summary())

pandas.core.frame.DataFrame

In [13]:
sdf.summary(show_index=False)

 SCAN  OBJECT VELOCITY  PROC  PROCSEQN  RESTFREQ   DOPFREQ # IF # POL # INT # FEED     AZIMUTH   ELEVATIO
  152 NGC2415   3784.0 OnOff         1  1.420406  1.420406    1     1     1      1  285.951496  42.100624
  153 NGC2415   3784.0 OnOff         2  1.420406  1.420406    1     1     1      1  286.622527  41.584692